@import '../../scss/dsi-tokens';

.square {
	width: 100%;
	height: 200px;
	display: flex;
	background-color: $color-blue-77;
	align-items: center;
	justify-content: center;
	color: $color-white;
}

.color {
	width: 100%;
	height: 80px;
	display: flex;
	background-color: $color-gray-96;
	align-items: center;
	justify-content: center;
	color: $color-white;
}

/*----------------*/
.spacing {
	background-color: $color-blue-77;
	display: inline-block;
	margin-right: $spacing-2x;
}

.spacing-1x {
	height: $spacing-1x;
	width: $spacing-1x;
}

.spacing-2x {
	height: $spacing-2x;
	width: $spacing-2x;
}

.spacing-3x {
	height: $spacing-3x;
	width: $spacing-3x;
}

.spacing-4x {
	height: $spacing-4x;
	width: $spacing-4x;
}

.spacing-5x {
	height: $spacing-5x;
	width: $spacing-5x;
}

.spacing-6x {
	height: $spacing-6x;
	width: $spacing-6x;
}

.spacing-8x {
	height: $spacing-8x;
	width: $spacing-8x;
}

.spacing-10x {
	height: $spacing-10x;
	width: $spacing-10x;
}

.spacing-12x {
	height: $spacing-12x;
	width: $spacing-12x;
}

.spacing-24x {
	height: $spacing-24x;
	width: $spacing-24x;
}

/*----------------*/
.radius-smooth {
	border-radius: $radius-smooth;
}

.radius-rounded {
	border-radius: $radius-rounded;
}

.radius-cricle {
	border-radius: $radius-circle;
}

/*----------------*/
.color-primary-05 {
	background-color: $color-primary-05;
	color: $color-primary-130;
}

.color-primary-10 {
	background-color: $color-primary-10;
	color: $color-primary-130;
}

.color-primary-20 {
	background-color: $color-primary-20;
}

.color-primary-30 {
	background-color: $color-primary-30;
}

.color-primary-60 {
	background-color: $color-primary-60;
}

.color-primary-100 {
	background-color: $color-primary-100;
}

.color-primary-105 {
	background-color: $color-primary-105;
}

.color-primary-110 {
	background-color: $color-primary-110;
}

.color-primary-115 {
	background-color: $color-primary-115;
}

.color-primary-120 {
	background-color: $color-primary-120;
}

.color-primary-125 {
	background-color: $color-primary-125;
}

.color-primary-130 {
	background-color: $color-primary-130;
}
/*---------------*/
.color-accent {
	background-color: $color-accent;
}

.color-accent-mid1 {
	background-color: $color-accent-mid1;
}

.color-accent-mid2 {
	background-color: $color-accent-mid2;
}

.color-accent-mid3 {
	background-color: $color-accent-mid3;
}

.color-accent-mid4 {
	background-color: $color-accent-mid4;
	color: $color-accent;
}

.color-accent-mid5 {
	background-color: $color-accent-mid5;
	color: $color-accent;
}
/*---------------------------*/
.color-error {
	background-color: $color-error;
}

.color-warning {
	background-color: $color-warning;
}

.color-success {
	background-color: $color-success;
}
/*-------------------------------------*/

.color-secondary-01 {
	background-color: $color-secondary-01;
	color: $color-secondary-10;
}

.color-secondary-02 {
	background-color: $color-secondary-02;
	color: $color-secondary-10;
}

.color-secondary-03 {
	background-color: $color-secondary-03;
}

.color-secondary-04 {
	background-color: $color-secondary-04;
}

.color-secondary-05 {
	background-color: $color-secondary-05;
}

.color-secondary-06 {
	background-color: $color-secondary-06;
}

.color-secondary-07 {
	background-color: $color-secondary-07;
}

.color-secondary-08 {
	background-color: $color-secondary-08;
}

.color-secondary-09 {
	background-color: $color-secondary-09;
}

.color-secondary-10 {
	background-color: $color-secondary-10;
}
