.square {
	width: 100%;
	height: 200px;
	display: flex;
	background-color: var(--color-background-primary);
	align-items: center;
	justify-content: center;
	color: var(--color-text-inverse);
}

.color {
	width: 100%;
	height: 80px;
	display: flex;
	background-color: grey;
	align-items: center;
	justify-content: center;
	color: var(--color-text-inverse);
}

.space {
	background-color: var(--color-background-primary-light);
  display: inline-block;
	&:not(:last-child) {
		margin-right: 8px;
	}
}

.radius-smooth {
	border-radius: var(--radius-smooth);
}

.radius-circle {
	border-radius: var(--radius-circle);
}

.radius-rounded {
	border-radius: var(--radius-rounded);
}

.color-background-primary {
	background-color: var(--color-background-primary);
	color: var(--color-text-inverse);
}

.color-background-primary-light {
	background-color: var(--color-background-primary-light);
	color: var(--color-text-base);
}

.color-background-primary-lighter {
	background-color: var(--color-background-primary-lighter);
	color: var(--color-text-base);
}

.color-background-primary-muted {
	background-color: var(--color-background-primary-muted);
	color: var(--color-text-inverse);
}

.color-background-primary-dark {
	background-color: var(--color-background-primary-dark);
	color: var(--color-text-inverse);
}

.spacing-1x {
	width: var(--spacing-1x);
	height: var(--spacing-1x);
}
.spacing-2x {
	width: var(--spacing-2x);
	height: var(--spacing-2x);
}
.spacing-3x {
	width: var(--spacing-3x);
	height: var(--spacing-3x);
}
.spacing-4x {
	width: var(--spacing-4x);
	height: var(--spacing-4x);
}
.spacing-5x {
	width: var(--spacing-5x);
	height: var(--spacing-5x);
}
.spacing-6x {
	width: var(--spacing-6x);
	height: var(--spacing-6x);
}
.spacing-8x {
	width: var(--spacing-8x);
	height: var(--spacing-8x);
}
.spacing-10x {
	width: var(--spacing-10x);
	height: var(--spacing-10x);
}
.spacing-12x {
	width: var(--spacing-12x);
	height: var(--spacing-12x);
}
.spacing-24x {
	width: var(--spacing-24x);
	height: var(--spacing-24x);
}

